<%= form_for(examination) do |f| %>
  <% if examination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(examination.errors.count, "error") %> prohibited this examination from being saved:</h2>

      <ul>
      <% examination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :study %>
    <%= f.text_field :study %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :voltage %>
    <%= f.text_field :voltage %>
  </div>

  <div class="field">
    <%= f.label :current %>
    <%= f.text_field :current %>
  </div>

  <div class="field">
    <%= f.label :exposure %>
    <%= f.text_field :exposure %>
  </div>

  <div class="field">
    <%= f.label "Study Location" %>
    <%= f.select :demographics_study_location, [['Location 1','L1'],['Location 2','L2'],['Location 3','L3']] %>
  </div>

  <div class="field">
    <%= f.label "Accession" %>
    <%= f.text_field :demographics_accession %>
  </div>
  
  <div class="field">
    <%= f.label "Study Date" %>
    <%= f.date_field :demographics_study_date %>
  </div>
  
  <div class="field">
    <%= f.label "Gravida" %>
    <%= f.number_field :demographics_gravida %>
  </div>
  
  <div class="field">
    <%= f.label "Para" %>
    <%= f.number_field :demographics_para %>
  </div>
  
  <div class="field">
    <%= f.label "LMP" %>
    <%= f.date_field :demographics_lmp %>
  </div>
  
  <div class="field">
    <%= f.label :demographics_maternal_weight %>
    <%= f.number_field :demographics_maternal_weight %>
  </div>  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
