<!--**protip: use col-xs-?? to prevent tables from taking up the entire page width-->

<!-- Demographics, study information area -->
<h2>Preliminary Report</h2>
<div class="row">
	<div class="row">
	<div class="col-xs-6">
		<table class="table">
			<tr>
				<td>Patient</td>
				<td><%= @examination.name %></td>
			</tr>
			<tr>
				<td>Gravida</td>
				<td><%= @examination.demographics_gravida%></td>
			</tr>
			<tr>
				<td>Para</td>
				<td><%= @examination.demographics_para %></td>
			</tr>
		</table>
	</div>
	<div class="col-xs-6">
		<table class="table">
			<tr>
				<td>Study Date</td>
				<td><%= @examination.demographics_study_date %></td>
			</tr>
			<tr>
				<td>LMP</td>
				<td><%= @examination.demographics_lmp%></td>
			</tr>
			<tr>
				<td>Estimated Delivery Date</td>
				<td><%= @edd %></td>
			</tr>
		</table>
	</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<table class="table">
			<tr>
				<td>Study Location</td>
				<td><%= @examination.demographics_study_location %></td>
			</tr>
			<tr>
				<td>Patient History</td>
				<td><%= @examination.demographics_history%></td>
			</tr>
		</table>
		</div>
	</div>
</div>

<!-- Fetal heart and maternal anatomy area -->
<h3>Descriptive Data</h3>
<div class="row">
	<div class="col-xs-4">
		<table class="table table-striped">
			<tr>
				<td>Fetal Position</td>
				<td><%= @examination.fetal_pos_presentation %></td>
			</tr>
			<tr>
				<td>Heart Rhythm</td>
				<td><%= @examination.fetal_heart_rhythm%></td>
			</tr>
			<tr>
				<td>Amniotic Fluid</td>
				<td><%= @examination.amniotic_findings%></td>
			</tr>
			<%if(@show_cord_vessels)%>
			<tr>
				<td>Cord Vessels</td>
				<td><%= @examination.placenta_cord_vessels%></td>
			</tr>
			<%end%>
			<%if(@show_cord_ins)%>
			<tr>
				<td>Cord Insertion</td>
				<td><%= @examination.placenta_cord_ins %></td>
			</tr>
			<%end%>
		</table>
	</div>
	<div class="col-xs-4">
		<table class="table table-striped">
			<tr>
				<td>Placenta</td>
				<td><%= @examination.placenta_general%></td>
			</tr>
			<tr>
				<td style="<%= @panic if @warn_heartrate%>">Fetal Heart Rate</td>
				<td style="<%= @panic if @warn_heartrate%>"><%= @examination.fetal_heart_hrate%></td>
			</tr>
			<tr>
				<td>Internal OS</td>
				<td><%= @examination.maternal_anat_internalos%></td>
			</tr>
			<tr>
				<td>Distance to OS</td>
				<td><%= @examination.maternal_anat_os_distance%>cm</td>
			</tr>
		</table>
	</div>
	<div class="col-xs-4">
		<img src="https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikipedia-logo-v2.png"></img>
	</div>
</div>

<!-- Fetal anatomy -->
<!-- WARNINGS HERE -->
<%if(@show_fanat_intercranial || @show_fanat_facial || @show_fanat_heart || @show_fanat_abdomen || @show_fanat_thorax || @show_fanat_spine || @show_fanat_extremities)%>
<h3>Fetal Anatomy</h3>
<div class="row">
	<div class="col-xs-12">
	<table class="table table-striped">
		<%if(@show_fanat_intercranial)%>
		<tr>
			<td style="<%= @panic if @warn_evenodd%>">Intercranial</td>
			<td style="<%= @panic if @warn_evenodd%>"><%= @examination.fetal_anat_intercranial %></td>
		</tr>
		<%end%>
		<%if(@show_fanat_facial)%>
		<tr>
			<td style="<%= @panic if @warn_evenodd%>">Facial</td>
			<td style="<%= @panic if @warn_evenodd%>"><%= @examination.fetal_anat_face%></td>
		</tr>
		<%end%>
		<%if(@show_fanat_heart)%>
		<tr>
			<td>Heart</td>
			<td><%= @examination.fetal_heart_locsz%></td>
		</tr>
		<%end%>
		<%if(@show_fanat_abdomen)%>
		<tr>
			<td>Abdomen</td>
			<td>Wall: <%= @examination.fetal_anat_abdominal_wall %><br/>
				Cavity: <%= @examination.fetal_anat_abdominal_cavity %>
			</td>
		</tr>
		<%end%>
		<%if(@show_fanat_thorax)%>
		<tr>
			<td>Thorax</td>
			<td><%= @examination.fetal_anat_thorax %></td>
		</tr>
		<%end%>
		<%if(@show_fanat_spine)%>
		<tr>
			<td>Spine</td>
			<td><%= @examination.fetal_anat_spine%></td>
		</tr>
		<%end%>
		<%if(@show_fanat_extremities)%>
		<tr>
			<td>Extremities</td>
			<td>Lower: <%= @examination.fetal_anat_lower_extrm%><br/>
				Upper: <%= @examination.fetal_anat_upper_extrm%>
			</td>
		</tr>
		<%end%>
	</table>
	</div>
</div>
<%end%>
<%if(@show_biometrics)%>
<!-- Biometrics -->
<h3>Biometrics</h3>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped">
			<tr>
				<td></td>
				<td>BPD</td>
				<td>HC</td>
				<td>AC</td>
				<td>FL</td>
			</tr>
			<tr>
				<td>Observed</td>
				<td><%= @examination.biometry_bpd %></td>
				<td><%= @examination.biometry_hc %></td>
				<td><%= @examination.biometry_ac %></td>
				<td><%= @examination.biometry_fl %></td>
			</tr>
			<tr>
				<td>ETA</td>
				<td><%= @edd_bpd %></td>
				<td><%= @edd_hc %></td>
				<td><%= @edd_ac %></td>
				<td><%= @edd_fl %></td>
			</tr>
		</table>
	</div>
</div>
<%end%>

<%if(@show_maternal)%>
<!-- Maternal Anatomy-->
<h3>Maternal Anatomy</h3>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped">
			<tr>
				<td>Cervix</td>
				<td><%= @examination.maternal_anat_cervix %> <%= @examination.maternal_anat_cervix_length%></td>
			</tr>
		</table>
	</div>
</div>
<%end%>
